<html lang="zh">
<head>
    <style>
        .his-item {
            margin-bottom: 20px;
            padding: 0 0 20px 0;
            background-color: #ffffff;
            line-height: 2rem;
            -webkit-transition: all .3s;
            -moz-transition: all .3s;
            -o-transition: all .3s;
            transition: all .3s;
        }

        .his-item:hover {
            box-shadow: 0 1px 10px 0 #888888;
            cursor: pointer;
        }

        .his-tag {
            font-family: "Sarasa Mono HC", "Droid Sans Mono", "monospace", ".SF NS Mono", serif;
            background: #f1f8ff;
            border-radius: 4px;
            color: #3792fd;
            padding: 0 8px;
            margin-left: 8px;
            font-size: .875rem;
        }

        .his-title {
            font-family: "Sarasa Mono HC", "Droid Sans Mono", "monospace", ".SF NS Mono", serif;
            color: #2d2d2ddb;
            padding: 0 8px;
            font-size: .875rem;
            background-image: linear-gradient(to right, #bdddff, #ffffff);
        }

        .his-time {
            font-family: "Sarasa Mono HC", "Droid Sans Mono", "monospace", ".SF NS Mono", serif;
            font-size: 16px;
            float: right;
        }

        .switchAccount {
            text-decoration: none;
            color: #494a4a;
            cursor: pointer;
            font-size: 18px;
            border: 1px solid #00000059;
            border-radius: 4px;
            padding: 2px;
            background-color: #fff;
            -webkit-transition: all .3s;
            -moz-transition: all .3s;
            -o-transition: all .3s;
            transition: all .3s;
        }
        .switchAccount:hover {
            background-color: #e5e5e5;
        }

        .lbl {
            position: fixed;
            background-image: url(https://s1.ax1x.com/2020/07/08/UE4u5Q.png);
            background-repeat: no-repeat;
            width: 265px;
            height: 750px;
            left: 1100px;
        }
    </style>
</head>

<body style="background: #f5f7fa;">
<div class="lbl"></div>

<div style="margin: 20px auto 0; width: 700px;">
    <div style="margin-bottom: 10px;">
        <a href="/setup" class="switchAccount">切换账号</a>
    </div>
    <% if (exerciseHistory.length == 0) {%>
        <script>window.location = '/setup' </script>
    <% } %>
    <% for (let history of exerciseHistory) { %>
        <div class="his-item" onclick="showReport(<%= history.id %>)" id="his-<%= history.id %>">
            <div class="his-title">
                <span><%= history.sheet.name %></span>
                <span class="his-time"><%= history.finishedTime %></span>
            </div>
            <span class="his-tag">做了<%= history.answerCount %>题</span>
            <span class="his-tag">耗时<%= Math.round(moment.duration(history.elapsedTime, 'seconds').asMinutes().toFixed(1)) %>分钟</span>
            <span class="his-tag">正确率<%= history.correctRate %>%</span>
            <span class="his-tag">
                <%= (a => {
                    switch (a) {
                        case 'WEB':
                            return '电脑';
                        default:
                            return '手机'
                    }
                })(history.client) %>
            </span>
        </div>
    <% } %>
</div>
</body>
<script>
    function showReport(exerciseId) {
        window.location = '/exercise/' + exerciseId;
    }
</script>
</html>